* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --background-color: #23263a;
  --header-background: #212336;
  --primary-font: #00adb5;
  --secondary-font: #c1c1c7;
  --terciary-font: #b2b2b2;
  --white: #fff;
  --black: #000;
}


body {
  background-color: var(--background-color);
  font-family: "Roboto", serif;
  color: var(--secondary-font);
}

img {
  display: block;
  max-width: 100%;
}

