.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--header-background);
    padding: 1rem 7rem;
    border-bottom: 1px solid var(--secondary-font);
}

.infos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.infos li {
    list-style: none;
}

.infos li a {
    color: var(--secondary-font);
    text-decoration: none;
}